node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
# =============== #
# Unity generated #
# =============== #
MessageAR2/Temp/
MessageAR2/Obj/
MessageAR2/UnityGenerated/
MessageAR2/Library/
MessageAR2/Assets/AssetStoreTools*
MessageAR2/Assets/StreamingAssets/Vuforia/
MessageAR2/Assets/Editor/Vuforia/VuforiaMars*
MessageAR2/Assets/Editor/Vuforia/CylinderTargetTextures/Vuforia*
MessageAR2/Assets/Models/Vuforia*
MessageAR2/Assets/Editor/Vuforia/ImageTargetTextures/VuforiaMars*
MessageAR2/Assets/Editor/Vuforia/TargetsetData/VuforiaMars*
MessageAR2/iOS_build/
MessageAR2/Assets/Editor/Vuforia/ForPrint/
MessageAR2/.vs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
MessageAR2/ExportedObj/
MessageAR2/*.svd
MessageAR2/*.userprefs
MessageAR2/*.csproj
MessageAR2/*.pidb
MessageAR2/*.suo
MessageAR2/*.sln
MessageAR2/*.user
MessageAR2/*.unityproj
MessageAR2/*.booproj

# ============ #
# OS generated #
# ============ #
MessageAR2/.DS_Store
MessageAR2/.DS_Store?
MessageAR2/._*
MessageAR2/.Spotlight-V100
MessageAR2/.Trashes
MessageAR2/Icon?
MessageAR2/ehthumbs.db
MessageAR2/Thumbs.db
